<form [formGroup]="formLogin">
<section class="vh-100" style="background-color: #aebeda;">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="form-outline mb-4">
                <input type="text" formControlName="username" placeholder="Username" class="form-control form-control-lg" />
                <div *ngIf="validation && p.username.errors" class="alert">
                  <div *ngIf="p.username.errors.required">Username is required</div>
               </div>
              </div>
              <div class="form-outline mb-4">
                <input type="password" formControlName="password" placeholder="Password" class="form-control form-control-lg" />
                <div *ngIf="validation && p.password.errors" class="alert">
                  <div *ngIf="p.password.errors.required">Password is required</div>
                  <div *ngIf="p.password.errors.minlength">Password must be at least 6 characters</div>
               </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Login</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
</form>
