<section class="vh-100" style="background-color: #aebeda;">
  <div class="py-5 h-100 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 30rem;" *ngIf="dataEmployee">
      <div class="card-header text-center p-3">
        <h5 class="card-title">Employee Detail</h5>
      </div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Username :
              <span>{{dataEmployee.username}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                First Name :
              <span>{{dataEmployee.firstName}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Last Name :
              <span>{{dataEmployee.lastName}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Email :
              <span>{{dataEmployee.email}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Birth Date :
              <span>{{dataEmployee.birthDate}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Basic Salary :
              <span>Rp {{dataEmployee.basicSalary | number}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Status :
              <span>{{dataEmployee.status}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Group :
              <span>{{dataEmployee.group}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Description :
              <span>{{dataEmployee.description}}</span>
            </li>
          </ul>

          <button type="button" class="btn btn-secondary w-100" (click)="back()"><i class="	fa fa-arrow-circle-left"></i> Back</button>
    </div> 
  </div>
   
</section>
